/* Write your CSS here */

.languages-button {
  border-width: 0px;
  margin: 20px;
  background-color: transparent;
  font-size: 15px;
  font-weight: 600;
}

.list-item {
  list-style-type: none;
}

.active {
  border: 1px solid #0284c7;
  border-radius: 10px;
  height: 25px;
  color: #0284c7;
}
